@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  font-family: "Roboto", sans-serif;
  --font: #F2F2F2;
  --title: #D9D9D9;
  --cor3: #A6A6A6;
  --cor4: #404040;
  --background_color: #262626;
}

body {
  background-color: var(--background_color);
  color: var(--font);
  width: 100%;
  height: 100vh;
}

h2 {
  font-size: 2rem;
  color: var(--title);
}

.menu {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  padding: 0 10%;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  width: 80%
}

.menu__link a {
  color: unset;
  text-decoration: none;
  padding: 5px;
  border: 1px solid var(--background_color);
  border-radius: 15px;
}

.menu__link a:hover {
  border: 1px solid var(--font);
  border-radius: 15px;
}

.about {
  display: flex;
  flex-direction: column;
  background-color: var(--cor3);
  padding: 2% 10%;
  gap: 32px;
}

.about h2,
.about p {
  color: var(--cor4)
}

.skills {
  display: flex;
  flex-direction: column;
  padding: 2% 10%;
  gap: 32px;
}

.skills__list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.skills__list__element {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 15px;
  background-color: var(--cor3);
}

.skills__list__element img {
  max-width: 95%;
}

.hobbies {
  display: flex;
  flex-direction: column;
  padding: 2% 10%;
  gap: 32px;
}

.hobbies__list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.hobbies__list__element {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 15px;
  background-color: var(--cor3);
}

.training {
  display: flex;
  flex-direction: column;
  background-color: var(--cor3);
  padding: 2% 10%;
  gap: 32px;
}

.training h2 {
  color: var(--cor4)
}

.training__list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.training__title {
  display: flex;
  gap: 16px;
  align-items: center;
}

.training__title img {
  width: 350px;
  height: 150px;
  border-radius: 15px;
}

.training__title section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.projects {
  display: flex;
  flex-direction: column;
  padding: 2% 10%;
  gap: 32px;
}

.projects__list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.projects__list__element {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 15px;
  background-color: var(--cor3);
}

.projects__list__element p {
  text-align: center;
}

.projects__list__element a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--font);
  background-color: var(--background_color);
  width: 100px;
  height: 25px;
  border-radius: 5px;
}

.projects__list__element a:hover {
  cursor: pointer;
  color: var(--background_color);
  background-color: var(--font);
}

.contact {
  display: flex;
  flex-direction: column;
  background-color: var(--cor3);
  padding: 2% 10%;
  gap: 32px;
}

.contact h2 {
  color: var(--cor4)
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
}

.form label {
  color: var(--cor4);
}

.form button {
  width: 100px;
  height: 25px;
  border-radius: 5px;
}

.form textarea {
  border-style: hidden;
  resize: none;
  height: 150px;
  overflow-y: auto
}

.form button:hover {
  cursor: pointer;
  color: var(--font);
  background-color: var(--background_color);
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 2% 10%;
}